Below are two links that will serve as a solid starting point for what you will submit:
1. A notebook with some initial data exploration ofthe MovieLens dataset. LINK 1
(https://github.com/NUOEL/cs6220/blob/master/M01-A01-%20Movie%20Rating.ipynb)
2. A blog postcontaining some further analysis of that dataset. LINK 2
(http://www.gregreda.com/2013/10/26/using-pandas-on-the-movielens-dataset/)

Objective:

Download the data (link 1 above contains instructions on how you can do that) and extend the
presented data exploration to include:

• [10 pts] An aggregate of the movie ratings for each particular genre.

• [10 pts] The top 5 highest ranked genre by women.

• [10 pts] The top 5 highest ranked genre by men.

• [20 pts] A breakdown of a movies ratings by age, use any movie of your choice.

• [30 pts] A function that given a user id and movie id , returns a list of user ids for
other users that rated the movie identi_ed by the provided movie id with the same score.

• [20 pts] Some other statistic, _gure, aggregate, or plot that you created using this dataset,
along with a short description of what interesting observations you derived from it.
You may use the code available on both the provided notebook files as a starting point.

Submission:

Follow the same steps as in Assignment 0 and submit your ipython notebook files on the Blackboard
submission portal.

In [2]:
import pandas as pd
import numpy as np

In [3]:
# pass in column names for each CSV
u_cols = ['user_id', 'age', 'sex', 'occupation', 'zip_code']
users = pd.read_csv('./ml-1m/users.dat', sep='::', names=u_cols,
                    encoding='latin-1',engine = 'python')

r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings = pd.read_csv('./ml-1m/ratings.dat', sep='::', names=r_cols,
                      encoding='latin-1',engine = 'python')

# the movies file contains columns indicating the movie's genres
# let's only load the first five columns of the file with usecols
m_cols = ['movie_id', 'title', 'Genres', 'video_release_date', 'imdb_url']
movies = pd.read_csv('./ml-1m/movies.dat', sep='::', names=m_cols, usecols=range(5),
                     encoding='latin-1',engine = 'python')

In [58]:
Dat = pd.merge(pd.merge(ratings, users), movies)

In [60]:
Dat

,user_id,movie_id,rating,unix_timestamp,age,sex,occupation,zip_code,title,Genres,video_release_date,imdb_url
0,1,1193,5,978300760,F,1,10,48067,One Flew Over the Cuckoo's Nest (1975),Drama,NaN,NaN
1,2,1193,5,978298413,M,56,16,70072,One Flew Over the Cuckoo's Nest (1975),Drama,NaN,NaN
2,12,1193,4,978220179,M,25,12,32793,One Flew Over the Cuckoo's Nest (1975),Drama,NaN,NaN
3,15,1193,4,978199279,M,25,7,22903,One Flew Over the Cuckoo's Nest (1975),Drama,NaN,NaN
4,17,1193,5,978158471,M,50,1,95350,One Flew Over the Cuckoo's Nest (1975),Drama,NaN,NaN
5,18,1193,4,978156168,F,18,3,95825,One Flew Over the Cuckoo's Nest (1975),Drama,NaN,NaN
6,19,1193,5,982730936,M,1,10,48073,One Flew Over the Cuckoo's Nest (1975),Drama,NaN,NaN
7,24,1193,5,978136709,F,25,7,10023,One Flew Over the Cuckoo's Nest (1975),Drama,NaN,NaN
8,28,1193,3,978125194,F,25,1,14607,One Flew Over the Cuckoo's Nest (1975),Drama,NaN,NaN
9,33,1193,5,978557765,M,45,3,55421,One Flew Over the Cuckoo's Nest (1975),Drama,NaN,NaN
10,39,1193,5,978043535,M,18,4,61820,One Flew Over the Cuckoo's Nest (1975),Drama,NaN,NaN
11,42,1193,3,978038981,M,25,8,24502,One Flew Over the Cuckoo's Nest (1975),Drama,NaN,NaN
12,44,1193,4,978018995,M,45,17,98052,One Flew Over the Cuckoo's Nest (1975),Drama,NaN,NaN
13,47,1193,4,977978345,M,18,4,94305,One Flew Over the Cuckoo's Nest (1975),Drama,NaN,NaN
14,48,1193,4,977975061,M,25,4,92107,One Flew Over the Cuckoo's Nest (1975),Drama,NaN,NaN
15,49,1193,4,978813972,M,18,12,77084,One Flew Over the Cuckoo's Nest (1975),Drama,NaN,NaN
16,53,1193,5,977946400,M,25,0,96931,One Flew Over the Cuckoo's Nest (1975),Drama,NaN,NaN
17,54,1193,5,977944039,M,50,1,56723,One Flew Over the Cuckoo's Nest (1975),Drama,NaN,NaN
18,58,1193,5,977933866,M,25,2,30303,One Flew Over the Cuckoo's Nest (1975),Drama,NaN,NaN
19,59,1193,4,977934292,F,50,1,55413,One Flew Over the Cuckoo's Nest (1975),Drama,NaN,NaN
20,62,1193,4,977968584,F,35,3,98105,One Flew Over the Cuckoo's Nest (1975),Drama,NaN,NaN
21,80,1193,4,977786172,M,56,1,49327,One Flew Over the Cuckoo's Nest (1975),Drama,NaN,NaN
22,81,1193,5,977785864,F,25,0,60640,One Flew Over the Cuckoo's Nest (1975),Drama,NaN,NaN
23,88,1193,5,977694161,F,45,1,02476,One Flew Over the Cuckoo's Nest (1975),Drama,NaN,NaN
24,89,1193,5,977683596,F,56,9,85749,One Flew Over the Cuckoo's Nest (1975),Drama,NaN,NaN
25,95,1193,5,977626632,M,45,0,98201,One Flew Over the Cuckoo's Nest (1975),Drama,NaN,NaN
26,96,1193,3,977621789,F,25,16,78028,One Flew Over the Cuckoo's Nest (1975),Drama,NaN,NaN
27,99,1193,2,982791053,F,1,10,19390,One Flew Over the Cuckoo's Nest (1975),Drama,NaN,NaN
28,102,1193,5,1040737607,M,35,19,20871,One Flew Over the Cuckoo's Nest (1975),Drama,NaN,NaN
29,104,1193,2,977546620,M,25,12,00926,One Flew Over the Cuckoo's Nest (1975),Drama,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1000179,4933,3084,3,962757020,M,25,15,94040,Home Page (1999),Documentary,NaN,NaN
1000180,4802,2218,2,1014866656,M,56,1,40601,Juno and Paycock (1930),Drama,NaN,NaN
1000181,4812,2308,2,962932391,M,18,14,25301,Detroit 9000 (1973),Action|Crime,NaN,NaN
1000182,4874,624,4,962781918,F,25,4,70808,Condition Red (1995),Action|Drama|Thriller,NaN,NaN
1000183,5059,1434,4,962484364,M,45,16,22652,"Stranger, The (1994)",Action,NaN,NaN
1000184,5947,1434,4,957190428,F,45,16,97215,"Stranger, The (1994)",Action,NaN,NaN
1000185,5077,1868,3,962417299,M,25,2,20037,"Truce, The (1996)",Drama|War,NaN,NaN
1000186,5944,1868,1,957197520,F,18,10,27606,"Truce, The (1996)",Drama|War,NaN,NaN
1000187,5105,404,3,962337582,M,50,7,18977,Brother Minister: The Assassination of Malcolm...,Documentary,NaN,NaN
1000188,5185,404,4,963402617,F,35,4,44485,Brother Minister: The Assassination of Malcolm...,Documentary,NaN,NaN
1000189,5532,404,5,959619841,M,25,17,27408,Brother Minister: The Assassination of Malcolm...,Documentary,NaN,NaN
1000190,5543,404,3,960127592,M,25,17,97401,Brother Minister: The Assassination of Malcolm...,Documentary,NaN,NaN
1000191,5220,2543,3,961546137,M,25,7,91436,Six Ways to Sunday (1997),Comedy,NaN,NaN
1000192,5754,2543,4,958272316,F,18,1,60640,Six Ways to Sunday (1997),Comedy,NaN,NaN
1000193,5227,591,3,961475931,M,18,10,64050,Tough and Deadly (1995),Action|Drama|Thriller,NaN,NaN
1000194,5795,591,1,958145253,M,25,1,92688,Tough and Deadly (1995),Action|Drama|Thriller,NaN,NaN
1000195,5313,3656,5,960920392,M,56,0,55406,Lured (1947),Crime,NaN,NaN
1000196,5328,2438,4,960838075,F,25,4,91740,Outside Ozona (1998),Drama|Thriller,NaN,NaN
1000197,5334,3323,3,960796159,F,56,13,46140,Chain of Fools (2000),Comedy|Crime,NaN,NaN
1000198,5334,127,1,960795494,F,56,13,46140,"Silence of the Palace, The (Saimt el Qusur) (1...",Drama,NaN,NaN
1000199,5334,3382,5,960796159,F,56,13,46140,Song of Freedom (1936),Drama,NaN,NaN
1000200,5420,1843,3,960156505,F,1,19,14850,Slappy and the Stinkers (1998),Children's|Comedy,NaN,NaN
1000201,5433,286,3,960240881,F,35,17,45014,Nemesis 2: Nebula (1995),Action|Sci-Fi|Thriller,NaN,NaN
1000202,5494,3530,4,959816296,F,35,17,94306,Smoking/No Smoking (1993),Comedy,NaN,NaN
1000203,5556,2198,3,959445515,M,45,6,92103,Modulations (1998),Documentary,NaN,NaN
1000204,5949,2198,5,958846401,M,18,17,47901,Modulations (1998),Documentary,NaN,NaN
1000205,5675,2703,3,976029116,M,35,14,30030,Broken Vessels (1998),Drama,NaN,NaN
1000206,5780,2845,1,958153068,M,18,17,92886,White Boys (1999),Drama,NaN,NaN
1000207,5851,3607,5,957756608,F,18,20,55410,One Little Indian (1973),Comedy|Drama|Western,NaN,NaN
1000208,5938,2909,4,957273353,M,25,1,35401,"Five Wives, Three Secretaries and Me (1998)",Documentary,NaN,NaN

In [61]:
genres_unique = Dat.set_index(Dat.columns.drop('Genres',1).tolist()).Genres.str.split('|', expand=True).stack().reset_index().rename(columns={0:'Genres'}).loc[:, Dat.columns]

In [62]:
genres_unique.head()

,user_id,movie_id,rating,unix_timestamp,age,sex,occupation,zip_code,title,Genres,video_release_date,imdb_url
0,1,1193,5,978300760,F,1,10,48067,One Flew Over the Cuckoo's Nest (1975),Drama,NaN,NaN
1,2,1193,5,978298413,M,56,16,70072,One Flew Over the Cuckoo's Nest (1975),Drama,NaN,NaN
2,12,1193,4,978220179,M,25,12,32793,One Flew Over the Cuckoo's Nest (1975),Drama,NaN,NaN
3,15,1193,4,978199279,M,25,7,22903,One Flew Over the Cuckoo's Nest (1975),Drama,NaN,NaN
4,17,1193,5,978158471,M,50,1,95350,One Flew Over the Cuckoo's Nest (1975),Drama,NaN,NaN

An aggregate of the movie ratings for each particular genre.

In [51]:
s = genres_unique.groupby('Genres').agg('rating')
s.describe()

                count      mean       std  min  25%  50%  75%  max
Genres
Action       257457.0  3.491185  1.133471  1.0  3.0  4.0  4.0  5.0
Adventure    133953.0  3.477257  1.129464  1.0  3.0  4.0  4.0  5.0
Animation     43293.0  3.684868  1.082071  1.0  3.0  4.0  4.0  5.0
Children's    72186.0  3.422035  1.160881  1.0  3.0  4.0  4.0  5.0
Comedy       356580.0  3.522099  1.120726  1.0  3.0  4.0  4.0  5.0
Crime         79541.0  3.708679  1.077740  1.0  3.0  4.0  5.0  5.0
Documentary    7910.0  3.933123  1.033123  1.0  3.0  4.0  5.0  5.0
Drama        354529.0  3.766332  1.045784  1.0  3.0  4.0  5.0  5.0
Fantasy       36301.0  3.447371  1.133180  1.0  3.0  4.0  4.0  5.0
Film-Noir     18261.0  4.075188  0.932666  1.0  4.0  4.0  5.0  5.0
Horror        76386.0  3.215013  1.225531  1.0  2.0  3.0  4.0  5.0
Musical       41533.0  3.665519  1.101068  1.0  3.0  4.0  5.0  5.0
Mystery       40178.0  3.668102  1.086739  1.0  3.0  4.0  4.0  5.0
Romance      147523.0  3.607465  1.066755  1.0  3.0  4.0  4.0  5.0
Sci-Fi       157294.0  3.466521  1.157239  1.0  3.0  4.0  4.0  5.0
Thriller     189680.0  3.570466  1.106643  1.0  3.0  4.0  4.0  5.0
War           68527.0  3.893327  1.065290  1.0  3.0  4.0  5.0  5.0
Western       20683.0  3.637770  1.099845  1.0  3.0  4.0  4.0  5.0

The top 5 highest ranked genre by women.

The top 5 highest ranked genre by men.

In [53]:
#displays high rated movies
high_rated= genres_unique['rating']>4
genres_unique[high_rated].head(10)

,movie_id,title,Genres,video_release_date,imdb_url,user_id,rating,unix_timestamp,age,sex,occupation,zip_code
0,1,Toy Story (1995),Animation,NaN,NaN,1,5,978824268,F,1,10,48067
1,1,Toy Story (1995),Children's,NaN,NaN,1,5,978824268,F,1,10,48067
2,1,Toy Story (1995),Comedy,NaN,NaN,1,5,978824268,F,1,10,48067
3,48,Pocahontas (1995),Animation,NaN,NaN,1,5,978824351,F,1,10,48067
4,48,Pocahontas (1995),Children's,NaN,NaN,1,5,978824351,F,1,10,48067
5,48,Pocahontas (1995),Musical,NaN,NaN,1,5,978824351,F,1,10,48067
6,48,Pocahontas (1995),Romance,NaN,NaN,1,5,978824351,F,1,10,48067
7,150,Apollo 13 (1995),Drama,NaN,NaN,1,5,978301777,F,1,10,48067
12,527,Schindler's List (1993),Drama,NaN,NaN,1,5,978824195,F,1,10,48067
13,527,Schindler's List (1993),War,NaN,NaN,1,5,978824195,F,1,10,48067

In [54]:
t = genres_unique.groupby(['age','Genres']).agg('rating')
t.describe()
t.max()

age  Genres
F    Action         5
     Adventure      5
     Animation      5
     Children's     5
     Comedy         5
     Crime          5
     Documentary    5
     Drama          5
     Fantasy        5
     Film-Noir      5
     Horror         5
     Musical        5
     Mystery        5
     Romance        5
     Sci-Fi         5
     Thriller       5
     War            5
     Western        5
M    Action         5
     Adventure      5
     Animation      5
     Children's     5
     Comedy         5
     Crime          5
     Documentary    5
     Drama          5
     Fantasy        5
     Film-Noir      5
     Horror         5
     Musical        5
     Mystery        5
     Romance        5
     Sci-Fi         5
     Thriller       5
     War            5
     Western        5
Name: rating, dtype: int64

A breakdown of a movies ratings by age, use any movie of your choice.

A function that given a user id and movie id , returns a list of user ids for
other users that rated the movie identi_ed by the provided movie id with the same score.

In [65]:
def same_rating(uid, mid):
    user_ids = []
    select_row = genres_unique[(genres_unique['user_id']==uid) & (genres_unique['movie_id']==mid)]
    rting = select_row.rating[0]
    select_users = genres_unique[(genres_unique['rating']==rting) & (genres_unique['movie_id']==mid)]
    return select_users.user_id

In [66]:
print(same_rating(1,1193))

0          1
1          2
4         17
6         19
7         24
9         33
10        39
16        53
17        54
18        58
22        81
23        88
24        89
25        95
28       102
30       107
32       120
33       123
34       131
38       150
40       155
41       166
42       169
43       175
45       180
46       190
49       195
53       208
60       235
61       236
        ...
1668    5859
1669    5865
1670    5868
1674    5888
1676    5890
1682    5911
1684    5917
1685    5920
1687    5924
1690    5942
1693    5948
1694    5949
1695    5950
1697    5954
1698    5956
1699    5958
1700    5962
1701    5964
1702    5965
1706    5975
1708    5977
1709    5978
1712    5986
1714    6001
1715    6002
1718    6021
1719    6032
1720    6033
1721    6035
1722    6036
Name: user_id, Length: 937, dtype: int64

Some other statistic, _gure, aggregate, or plot that you created using this dataset,
along with a short description of what interesting observations you derived from it.
You may use the code available on both the provided notebook files as a starting point.

In [82]:
Dat

,movie_id,title,Genres,video_release_date,imdb_url,user_id,rating,unix_timestamp,age,sex,occupation,zip_code
0,1,Toy Story (1995),Animation|Children's|Comedy,NaN,NaN,1,5,978824268,F,1,10,48067
1,48,Pocahontas (1995),Animation|Children's|Musical|Romance,NaN,NaN,1,5,978824351,F,1,10,48067
2,150,Apollo 13 (1995),Drama,NaN,NaN,1,5,978301777,F,1,10,48067
3,260,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Fantasy|Sci-Fi,NaN,NaN,1,4,978300760,F,1,10,48067
4,527,Schindler's List (1993),Drama|War,NaN,NaN,1,5,978824195,F,1,10,48067
5,531,"Secret Garden, The (1993)",Children's|Drama,NaN,NaN,1,4,978302149,F,1,10,48067
6,588,Aladdin (1992),Animation|Children's|Comedy|Musical,NaN,NaN,1,4,978824268,F,1,10,48067
7,594,Snow White and the Seven Dwarfs (1937),Animation|Children's|Musical,NaN,NaN,1,4,978302268,F,1,10,48067
8,595,Beauty and the Beast (1991),Animation|Children's|Musical,NaN,NaN,1,5,978824268,F,1,10,48067
9,608,Fargo (1996),Crime|Drama|Thriller,NaN,NaN,1,4,978301398,F,1,10,48067
10,661,James and the Giant Peach (1996),Animation|Children's|Musical,NaN,NaN,1,3,978302109,F,1,10,48067
11,720,Wallace & Gromit: The Best of Aardman Animatio...,Animation,NaN,NaN,1,3,978300760,F,1,10,48067
12,745,"Close Shave, A (1995)",Animation|Comedy|Thriller,NaN,NaN,1,3,978824268,F,1,10,48067
13,783,"Hunchback of Notre Dame, The (1996)",Animation|Children's|Musical,NaN,NaN,1,4,978824291,F,1,10,48067
14,914,My Fair Lady (1964),Musical|Romance,NaN,NaN,1,3,978301968,F,1,10,48067
15,919,"Wizard of Oz, The (1939)",Adventure|Children's|Drama|Musical,NaN,NaN,1,4,978301368,F,1,10,48067
16,938,Gigi (1958),Musical,NaN,NaN,1,4,978301752,F,1,10,48067
17,1022,Cinderella (1950),Animation|Children's|Musical,NaN,NaN,1,5,978300055,F,1,10,48067
18,1028,Mary Poppins (1964),Children's|Comedy|Musical,NaN,NaN,1,5,978301777,F,1,10,48067
19,1029,Dumbo (1941),Animation|Children's|Musical,NaN,NaN,1,5,978302205,F,1,10,48067
20,1035,"Sound of Music, The (1965)",Musical,NaN,NaN,1,5,978301753,F,1,10,48067
21,1097,E.T. the Extra-Terrestrial (1982),Children's|Drama|Fantasy|Sci-Fi,NaN,NaN,1,4,978301953,F,1,10,48067
22,1193,One Flew Over the Cuckoo's Nest (1975),Drama,NaN,NaN,1,5,978300760,F,1,10,48067
23,1197,"Princess Bride, The (1987)",Action|Adventure|Comedy|Romance,NaN,NaN,1,3,978302268,F,1,10,48067
24,1207,To Kill a Mockingbird (1962),Drama,NaN,NaN,1,4,978300719,F,1,10,48067
25,1246,Dead Poets Society (1989),Drama,NaN,NaN,1,4,978302091,F,1,10,48067
26,1270,Back to the Future (1985),Comedy|Sci-Fi,NaN,NaN,1,5,978300055,F,1,10,48067
27,1287,Ben-Hur (1959),Action|Adventure|Drama,NaN,NaN,1,5,978302039,F,1,10,48067
28,1545,Ponette (1996),Drama,NaN,NaN,1,4,978824139,F,1,10,48067
29,1566,Hercules (1997),Adventure|Animation|Children's|Comedy|Musical,NaN,NaN,1,4,978824330,F,1,10,48067
...,...,...,...,...,...,...,...,...,...,...,...,...
1000179,2763,"Thomas Crown Affair, The (1999)",Action|Thriller,NaN,NaN,5727,5,958492554,M,25,4,92843
1000180,2770,Bowfinger (1999),Comedy,NaN,NaN,5727,4,958490923,M,25,4,92843
1000181,2805,Mickey Blue Eyes (1999),Comedy|Romance,NaN,NaN,5727,4,958492371,M,25,4,92843
1000182,2827,"Astronaut's Wife, The (1999)",Sci-Fi|Thriller,NaN,NaN,5727,2,958490886,M,25,4,92843
1000183,2840,Stigmata (1999),Thriller,NaN,NaN,5727,3,958492512,M,25,4,92843
1000184,2841,Stir of Echoes (1999),Thriller,NaN,NaN,5727,2,958492512,M,25,4,92843
1000185,2858,American Beauty (1999),Comedy|Drama,NaN,NaN,5727,5,958490857,M,25,4,92843
1000186,2881,Double Jeopardy (1999),Action|Thriller,NaN,NaN,5727,3,958490981,M,25,4,92843
1000187,2907,Superstar (1999),Comedy,NaN,NaN,5727,1,958492554,M,25,4,92843
1000188,3005,"Bone Collector, The (1999)",Thriller,NaN,NaN,5727,2,958490923,M,25,4,92843
1000189,3053,"Messenger: The Story of Joan of Arc, The (1999)",Drama|War,NaN,NaN,5727,3,958492345,M,25,4,92843
1000190,3081,Sleepy Hollow (1999),Horror|Romance,NaN,NaN,5727,4,958492512,M,25,4,92843
1000191,3113,End of Days (1999),Action|Thriller,NaN,NaN,5727,3,958490981,M,25,4,92843
1000192,3114,Toy Story 2 (1999),Animation|Children's|Comedy,NaN,NaN,5727,5,958492554,M,25,4,92843
1000193,3176,"Talented Mr. Ripley, The (1999)",Drama|Mystery|Thriller,NaN,NaN,5727,3,958492554,M,25,4,92843
1000194,3177,Next Friday (1999),Comedy,NaN,NaN,5727,1,958489748,M,25,4,92843
1000195,3273,Scream 3 (2000),Horror|Mystery|Thriller,NaN,NaN,5727,4,958492479,M,25,4,92843
1000196,3301,"Whole Nine Yards, The (2000)",Comedy|Crime,NaN,NaN,5727,5,958490142,M,25,4,92843
1000197,3316,Reindeer Games (2000),Action|Thriller,NaN,NaN,5727,3,958490699,M,25,4,92843
1000198,3317,Wonder Boys (2000),Comedy|Drama,NaN,NaN,5727,4,958489879,M,25,4,92843
1000199,3408,Erin Brockovich (2000),Drama,NaN,NaN,5727,5,958489879,M,25,4,92843
1000200,3409,Final Destination (2000),Drama|Thriller,NaN,NaN,5727,4,958490143,M,25,4,92843
1000201,3481,High Fidelity (2000),Comedy,NaN,NaN,5727,4,958489879,M,25,4,92843
1000202,3483,"Road to El Dorado, The (2000)",Animation|Children's,NaN,NaN,5727,3,958490143,M,25,4,92843
1000203,3484,"Skulls, The (2000)",Thriller,NaN,NaN,5727,1,958489902,M,25,4,92843
1000204,3513,Rules of Engagement (2000),Drama|Thriller,NaN,NaN,5727,4,958489970,M,25,4,92843
1000205,3535,American Psycho (2000),Comedy|Horror|Thriller,NaN,NaN,5727,2,958489970,M,25,4,92843
1000206,3536,Keeping the Faith (2000),Comedy|Romance,NaN,NaN,5727,5,958489902,M,25,4,92843
1000207,3555,U-571 (2000),Action|Thriller,NaN,NaN,5727,3,958490699,M,25,4,92843
1000208,3578,Gladiator (2000),Action|Drama,NaN,NaN,5727,5,958490171,M,25,4,92843

#Split title and release year in separate columns in movies dataframe. Convert year to timestamp.


movies.year = movies.year.dt.year # As there are some NaN years, resulting type will be float (decimals)
movies.title = movies.title.str[:-7]

In [35]:
lens.Action

0          False
1          False
2          False
3          False
4          False
5          False
6          False
7          False
8          False
9          False
10         False
11         False
12         False
13         False
14         False
15         False
16         False
17         False
18         False
19         False
20         False
21         False
22         False
23         False
24         False
25         False
26         False
27         False
28         False
29         False
           ...
1000179    False
1000180    False
1000181    False
1000182    False
1000183    False
1000184    False
1000185    False
1000186    False
1000187    False
1000188    False
1000189    False
1000190    False
1000191    False
1000192    False
1000193    False
1000194    False
1000195    False
1000196    False
1000197    False
1000198    False
1000199    False
1000200    False
1000201    False
1000202    False
1000203    False
1000204    False
1000205    False
1000206    False
1000207    False
1000208    False
Name: Action, Length: 1000209, dtype: bool

In [ ]:
# Categorize movies genres properly. Working later with +20MM rows of strings proved very resource consuming
genres_unique = pd.DataFrame(movies.Genres.str.split('|').tolist()).stack().unique()
genres_unique = pd.DataFrame(genres_unique, columns=['Genres']) # Format into DataFrame to store later
movies = movies.join(movies.Genres.str.get_dummies().astype(bool))
movies.drop('Genres', inplace=True, axis=1)

In [15]:
lens.index

RangeIndex(start=0, stop=1000209, step=1)

In [30]:
lens

,movie_id,title,video_release_date,imdb_url,Action,Adventure,Animation,Children's,Comedy,Crime,...,Thriller,War,Western,user_id,rating,unix_timestamp,age,sex,occupation,zip_code
0,1,Toy Story (1995),NaN,NaN,False,False,True,True,True,False,...,False,False,False,1,5,978824268,F,1,10,48067
1,1,Toy Story (1995),NaN,NaN,False,False,True,True,True,False,...,False,False,False,4183,3,965330111,M,25,1,91730
2,1,Toy Story (1995),NaN,NaN,False,False,True,True,True,False,...,False,False,False,4179,4,965331158,F,35,20,94949
3,1,Toy Story (1995),NaN,NaN,False,False,True,True,True,False,...,False,False,False,4177,5,965331613,M,35,17,90680
4,1,Toy Story (1995),NaN,NaN,False,False,True,True,True,False,...,False,False,False,4167,4,965336888,M,25,20,22032
5,1,Toy Story (1995),NaN,NaN,False,False,True,True,True,False,...,False,False,False,4165,5,965334744,F,25,14,94114
6,1,Toy Story (1995),NaN,NaN,False,False,True,True,True,False,...,False,False,False,4159,5,965336912,F,50,9,01450
7,1,Toy Story (1995),NaN,NaN,False,False,True,True,True,False,...,False,False,False,4153,5,965340868,M,50,17,16801
8,1,Toy Story (1995),NaN,NaN,False,False,True,True,True,False,...,False,False,False,4152,3,965341348,M,25,14,74114
9,1,Toy Story (1995),NaN,NaN,False,False,True,True,True,False,...,False,False,False,4150,2,965341459,M,25,0,29672
10,1,Toy Story (1995),NaN,NaN,False,False,True,True,True,False,...,False,False,False,146,5,977348756,F,35,20,10954
11,1,Toy Story (1995),NaN,NaN,False,False,True,True,True,False,...,False,False,False,4149,5,965342252,M,35,1,32792
12,1,Toy Story (1995),NaN,NaN,False,False,True,True,True,False,...,False,False,False,4144,4,965346664,M,18,4,02451
13,1,Toy Story (1995),NaN,NaN,False,False,True,True,True,False,...,False,False,False,4141,5,965349386,M,35,17,95014
14,1,Toy Story (1995),NaN,NaN,False,False,True,True,True,False,...,False,False,False,4186,3,965328072,M,25,7,33308
15,1,Toy Story (1995),NaN,NaN,False,False,True,True,True,False,...,False,False,False,4140,4,965350340,M,25,0,32112
16,1,Toy Story (1995),NaN,NaN,False,False,True,True,True,False,...,False,False,False,4133,5,965350794,M,45,4,77009
17,1,Toy Story (1995),NaN,NaN,False,False,True,True,True,False,...,False,False,False,4126,5,972873564,M,25,17,53188
18,1,Toy Story (1995),NaN,NaN,False,False,True,True,True,False,...,False,False,False,4124,3,965443631,M,25,18,62330-1408
19,1,Toy Story (1995),NaN,NaN,False,False,True,True,True,False,...,False,False,False,4122,4,965699772,M,18,19,82070
20,1,Toy Story (1995),NaN,NaN,False,False,True,True,True,False,...,False,False,False,4118,5,965361438,M,25,3,91221
21,1,Toy Story (1995),NaN,NaN,False,False,True,True,True,False,...,False,False,False,4116,4,972099743,M,35,7,07040
22,1,Toy Story (1995),NaN,NaN,False,False,True,True,True,False,...,False,False,False,4115,4,965369252,M,25,15,99353
23,1,Toy Story (1995),NaN,NaN,False,False,True,True,True,False,...,False,False,False,4114,3,965364325,M,35,14,48187
24,1,Toy Story (1995),NaN,NaN,False,False,True,True,True,False,...,False,False,False,4112,5,965366809,M,45,18,47129
25,1,Toy Story (1995),NaN,NaN,False,False,True,True,True,False,...,False,False,False,4106,5,965409119,M,25,16,95437
26,1,Toy Story (1995),NaN,NaN,False,False,True,True,True,False,...,False,False,False,4104,5,965409796,M,18,16,42141
27,1,Toy Story (1995),NaN,NaN,False,False,True,True,True,False,...,False,False,False,4099,4,965416249,M,35,17,94954
28,1,Toy Story (1995),NaN,NaN,False,False,True,True,True,False,...,False,False,False,4096,5,965418875,M,25,15,60004
29,1,Toy Story (1995),NaN,NaN,False,False,True,True,True,False,...,False,False,False,4137,5,965348107,M,25,7,91941
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1000179,3952,"Contender, The (2000)",NaN,NaN,False,False,False,False,False,False,...,True,False,False,5049,4,1022689639,M,25,12,60613
1000180,3952,"Contender, The (2000)",NaN,NaN,False,False,False,False,False,False,...,True,False,False,2835,3,972575427,M,35,20,60622
1000181,3952,"Contender, The (2000)",NaN,NaN,False,False,False,False,False,False,...,True,False,False,3620,4,987381248,M,25,7,94117
1000182,3952,"Contender, The (2000)",NaN,NaN,False,False,False,False,False,False,...,True,False,False,3531,5,1002393619,F,25,11,55409
1000183,3952,"Contender, The (2000)",NaN,NaN,False,False,False,False,False,False,...,True,False,False,3266,4,975899932,F,25,4,95616
1000184,3952,"Contender, The (2000)",NaN,NaN,False,False,False,False,False,False,...,True,False,False,329,4,976393038,M,35,7,02115
1000185,3952,"Contender, The (2000)",NaN,NaN,False,False,False,False,False,False,...,True,False,False,36,5,978062904,M,25,3,94123
1000186,3952,"Contender, The (2000)",NaN,NaN,False,False,False,False,False,False,...,True,False,False,429,5,976257749,M,18,0,54901
1000187,3952,"Contender, The (2000)",NaN,NaN,False,False,False,False,False,False,...,True,False,False,935,4,975181925,M,35,14,60538
1000188,3952,"Contender, The (2000)",NaN,NaN,False,False,False,False,False,False,...,True,False,False,173,2,979251907,M,25,0,45237
1000189,3952,"Contender, The (2000)",NaN,NaN,False,False,False,False,False,False,...,True,False,False,2092,4,987372424,M,56,1,49006
1000190,3952,"Contender, The (2000)",NaN,NaN,False,False,False,False,False,False,...,True,False,False,1250,3,974840521,M,50,0,10573
1000191,3952,"Contender, The (2000)",NaN,NaN,False,False,False,False,False,False,...,True,False,False,629,2,975783287,F,1,10,48154
1000192,3952,"Contender, The (2000)",NaN,NaN,False,False,False,False,False,False,...,True,False,False,2076,3,974657008,M,18,4,13165
1000193,3952,"Contender, The (2000)",NaN,NaN,False,False,False,False,False,False,...,True,False,False,1979,5,974684106,M,56,17,49506
1000194,3952,"Contender, The (2000)",NaN,NaN,False,False,False,False,False,False,...,True,False,False,2627,4,994689134,M,25,1,06877
1000195,3952,"Contender, The (2000)",NaN,NaN,False,False,False,False,False,False,...,True,False,False,1499,5,974749659,M,1,10,19343
1000196,3952,"Contender, The (2000)",NaN,NaN,False,False,False,False,False,False,...,True,False,False,1417,5,974760510,M,35,16,10472
1000197,3952,"Contender, The (2000)",NaN,NaN,False,False,False,False,False,False,...,True,False,False,909,3,975450660,M,45,7,92831
1000198,3952,"Contender, The (2000)",NaN,NaN,False,False,False,False,False,False,...,True,False,False,1260,4,974925406,M,25,17,28262
1000199,3952,"Contender, The (2000)",NaN,NaN,False,False,False,False,False,False,...,True,False,False,319,3,989110784,F,50,6,33436
1000200,3952,"Contender, The (2000)",NaN,NaN,False,False,False,False,False,False,...,True,False,False,1653,2,974711765,M,18,0,94044
1000201,3952,"Contender, The (2000)",NaN,NaN,False,False,False,False,False,False,...,True,False,False,1625,4,974723302,M,45,0,04330
1000202,3952,"Contender, The (2000)",NaN,NaN,False,False,False,False,False,False,...,True,False,False,2473,5,974150073,M,25,12,98105
1000203,3952,"Contender, The (2000)",NaN,NaN,False,False,False,False,False,False,...,True,False,False,1943,3,974769190,M,18,4,91501
1000204,3952,"Contender, The (2000)",NaN,NaN,False,False,False,False,False,False,...,True,False,False,1701,4,979178304,F,25,4,97233
1000205,3952,"Contender, The (2000)",NaN,NaN,False,False,False,False,False,False,...,True,False,False,850,5,975349103,M,35,0,60640
1000206,3952,"Contender, The (2000)",NaN,NaN,False,False,False,False,False,False,...,True,False,False,1197,5,974847021,M,35,1,44077
1000207,3952,"Contender, The (2000)",NaN,NaN,False,False,False,False,False,False,...,True,False,False,1626,1,974721922,M,18,4,10010
1000208,3952,"Contender, The (2000)",NaN,NaN,False,False,False,False,False,False,...,True,False,False,1436,4,974759958,F,50,6,97005

In [ ]:
cleaned = movies.set_index('title').Genres.str.split('|', expand=True).stack()
clean = pd.get_dummies(cleaned, prefix='g').groupby(level=0).sum()
x = movies.set_index('title').Genres.str.split(r'|', expand=True).stack().reset_index(level=1, drop=True).to_frame('Genre')

In [2]:
critics={'Lisa Rose': {'Lady in the Water': 2.5, 'Snakes on a Plane': 3.5,
'Just My Luck': 3.0, 'Superman Returns': 3.5, 'You, Me and Dupree': 2.5,
'The Night Listener': 3.0},
'Gene Seymour': {'Lady in the Water': 3.0, 'Snakes on a Plane': 3.5,
'Just My Luck': 1.5, 'Superman Returns': 5.0, 'The Night Listener': 3.0,
'You, Me and Dupree': 3.5},
'Michael Phillips': {'Lady in the Water': 2.5, 'Snakes on a Plane': 3.0,
'Superman Returns': 3.5, 'The Night Listener': 4.0},
'Claudia Puig': {'Snakes on a Plane': 3.5, 'Just My Luck': 3.0,
'The Night Listener': 4.5, 'Superman Returns': 4.0,
'You, Me and Dupree': 2.5},
'Mick LaSalle': {'Lady in the Water': 3.0, 'Snakes on a Plane': 4.0,
'Just My Luck': 2.0, 'Superman Returns': 3.0, 'The Night Listener': 3.0,
'You, Me and Dupree': 2.0},
'Jack Matthews': {'Lady in the Water': 3.0, 'Snakes on a Plane': 4.0,
'The Night Listener': 3.0, 'Superman Returns': 5.0, 'You, Me and Dupree': 3.5},
'Toby': {'Snakes on a Plane':4.5,'You, Me and Dupree':1.0,'Superman Returns':4.0}}

In [3]:
def sim_distance(prefs,person1,person2):
    
    # Get the list of shared_items
    si={}
    for item in prefs[person1]:
        if item in prefs[person2]:
            si[item]=1
    
    # if they have no ratings in common, return 0
    if len(si)==0: return 0
    
    # Add up the squares of all the differences
    sum_of_squares=sum([pow(prefs[person1][item]-prefs[person2][item],2)
                        for item in prefs[person1] if item in prefs[person2]])

    return 1/(1+sum_of_squares)

In [5]:
sim_distance(critics,'Lisa Rose','Toby')

0.2222222222222222